<!DOCTYPE html>
<html>
<head>
	<title>权限列表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/jquery.mCustomScrollbar.concat.min.js"></script>
</head>
<body style="margin:0px;padding:0px;">
<div>
<div class="page_title">
   <h2 class="fl">权限列表</h2>
   <a class="fr top_rt_btn" style="margin-right:10px;margin-top:4px;" href="{:U('Auth/add')}">新增</a>
</div>
<table class="table" style="text-align:center">
    <tr>
        <th>ID</th>
        <th>权限名</th>
        <th>权限控制器</th>
        <th>权限视图</th>
        <th>操作管理</th>
    </tr>
    <foreach name="adata" item="va">
    <tr>
        <td>{$va.auth_id}</td>
        <td>{$va.auth_name}</td>
        <td>{$va.auth_c}</td>
        <td>{$va.auth_a}</td>
        <td>
        <a href="__URL__/edit/id/{$va.auth_id}">编辑</a>
        <a onclick="if(confirm('确认要删除吗?')){location.href = '{:U("Auth/del",array("id"=>$va["auth_id"]))}';}" title="删除">删除</a>
<!--         <a href="#" class="inner_btn">表内按钮</a> -->
        </td>
    </tr>
    </foreach>
    </tr>
</table>
 <aside class="paging" style="margin-right:20px;">{$page}</aside>
</div>
</body>
</html>